.Rproj.user
.Rhistory
.RData
.Ruserdata
characterize_larval_transciptome/pgenerosa_proteins_2_10_2022.tab
characterize_larval_transciptome/percent_genes_expressed_by_tissue.tab
characterize_larval_transciptome/pgenerosa_proteins_2_14_2022.tab
